.tabs {
  margin-top: 10px;
}

.tabs button > div {
  padding-bottom: 0px;
}

.tabs button > div:first-child {
  margin-left: 0px;
}

.tabs button span {
  font-size: 1em;
}

@media only screen and (max-width: 600px) {
  .tabs p {
    font-size: 0.9em;
  }
}
