.container .tabs {
  margin-top: 15px;
}

.tabs > div {
  flex-direction: column;
  margin-bottom: 10px;
}

.tabs button > div {
  padding-bottom: 0px;
  display: inline-block;
}

.tabs button > div:first-child {
  margin-left: 0px;
}

.tabs button span {
  font-size: 1em;
}

@media only screen and (max-width: 600px) {
  .tabs p {
    font-size: 0.9em;
  }
}

.scrollToSee {
  padding-top: 40px;
  text-align: center;
  color: #888;
}

.scrollToSee svg {
  margin-left: 10px;
  margin-bottom: -6px;
}
