.container .tabs {
  margin-top: 15px;
}

.tabs > div {
  flex-direction: column;
  margin-bottom: 10px;
}

.tabs button > div {
  padding-bottom: 0px;
  display: inline-block;
}

.tabs button > div:first-child {
  margin-left: 0px;
}

.tabs button span {
  font-size: 1em;
}

.tabs div[role="tabpanel"] {
  z-index: 10;
}

@media only screen and (max-width: 600px) {
  .tabs p {
    font-size: 0.9em;
  }
}

.scrollToSee {
  padding-top: 20px;
  text-align: center;
  color: #888;
}

.scrollToSee svg {
  margin-left: 10px;
  margin-bottom: -6px;
}

.showKey {
  text-align: center;
  padding-top: 20px;
}


.info a {
  color: #7D4CDB;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.info a:hover {
  text-decoration: underline;
}
